.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  transition: 0.3s;
  z-index: 2;
}
.sidebar.active {
  width: 64px;
}
.btn-toggle {
  position: absolute;
  top: 10px;
  right: 18px;
}
.btn-toggle:hover {
  opacity: 0.8;
}
.btn-toggle > i {
  font-size: 30px;
  cursor: pointer;
}
.sidebar__logo {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__logo > img {
  height: 45px;
}
.sidebar.active .sidebar__logo > img {
  width: 0;
}
.sidebar__item {
  padding: 0 20px;
}
.sidebar.active .sidebar__item {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.sidebar__item-inner {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: color 0.3s ease 0s;
}
.sidebar.active .sidebar__item-inner {
  padding: 10px;
}
.sidebar__item-inner > i {
  margin-right: 10px;
  font-size: 1.5rem;
}
.sidebar.active .sidebar__item-inner > i {
  margin: 0;
}
.sidebar__item-inner > span {
  white-space: nowrap;
}
.sidebar.active .sidebar__item-inner > span {
  display: none;
}
.sidebar__item-inner > span {
  text-transform: capitalize;
}
.sidebar__item-inner:hover {
  color: var(--main-color);
}
.sidebar__item-inner.active {
  border-radius: var(--border-radius);
  background-image: linear-gradient(
    to right,
    var(--main-color),
    var(--second-color)
  );
  color: var(--txt-white);
}
@media screen and (max-width: 860px) {
  .sidebar.act-res {
    width: 64px;
  }
  .sidebar.act-res .sidebar__logo > img {
    width: 0;
  }
  .sidebar.act-res .sidebar__item {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .sidebar.act-res .sidebar__item-inner {
    padding: 10px;
  }
  .sidebar.act-res .sidebar__item-inner > i {
    margin: 0;
  }
  .sidebar.act-res .sidebar__item-inner > span {
    display: none;
  }
  .sidebar__item-inner.act-res {
    border-radius: var(--border-radius);
    background-image: linear-gradient(
      to right,
      var(--main-color),
      var(--second-color)
    );
    color: var(--txt-white);
  }
  .btn-toggle {
    display: none;
  }
}
